[submodule "lib/vendor/GameNetworkingSockets"]
	path = lib/vendor/GameNetworkingSockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets.git
[submodule "lib/vendor/googletest"]
	path = lib/vendor/googletest
	url = https://github.com/google/googletest.git
